<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
	RewriteBase /survey


	RewriteRule ^$ index.php [L]
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond $1 !^(index\.php|robots\.txt|favicon\.ico)

	RewriteRule ^(.*)$ index.php?/$1 [L] 
    </IfModule>



<IfModule !mod_rewrite.c>

    # If we don't have mod_rewrite installed, all 404's

    # can be sent to index.php, and everything works as normal.

    ErrorDocument 404 /application/errors/404.php

</IfModule>